h1{
    font-family: 'Kaushan Script', cursive;
    }

    body{
        padding: 70px;
        background-image: url('wall.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mybtn{
        border-radius:50px;
        }